<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{::footer})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>책추천</title>
</head>
<body>
<body class="device">
<main class="app">
	<header class="global-header">
		<a href="#" class="icon-button icon-button--on global-header__favorite-button">
			<img class="icon-heart icon-heart--on icon-button__icon icon-button__icon--on" src="img/icon_heart--on.png" />
			<img class="icon-heart icon-heart--off icon-button__icon icon-button__icon--off" src="img/icon_heart--off.png" />
		</a>
		<button type="button" class="book-category-button global-header__page-title">자기계발서</button>
		<ul class="book-category-list" role="menu">
			<li class="book-category-item">
				<a href="#" class="book-category-option" id="book-category-option-1">에세이</a>
			</li>
			<li class="book-category-item">
				<a href="#" class="book-category-option" id="book-category-option-2">소설</a>
			</li>
		</ul>
		<a href="#" class="icon-button global-header__show-menu-button">
			<span class="icon-hamburger icon-button__icon"></span>
		</a>
	</header>
	<main class="app-main">
		<ul class="book-summaries book-summaries--load-json">
			<li class="book-summary">
				<div class="summary-content">
					<section class="summary-content-section summary-content-section--quote">
						<svg class="summary-content-section__icon" width="23" height="22" viewBox="0 0 23 22" xmlns="http://www.w3.org/2000/svg">
							<path
									d="M0.0121953 22H9.47776V11.738H5.15065C5.15065 8.08307 6.23242 5.90415 9.61298 4.63898V0C4.00126 0.843448 -0.258249 5.76358 0.0121953 11.8083V22ZM13.3992 22H22.8648V11.738H18.5377C18.5377 8.08307 19.6194 5.90415 23 4.63898V0C17.3207 0.843448 13.1288 5.90415 13.3992 11.8083V22Z"
							/>
						</svg>
						<p class="summary-content-section__content"></p>
					</section>

					<section class="summary-content-section summary-content-section--introduction">
						<h1 class="summary-content-section__title">introduction</h1>
						<p class="summary-content-section__content"></p>
					</section>

					<section class="summary-content-section summary-content-section--review">
						<h1 class="summary-content-section__title">review</h1>
						<p class="summary-content-section__content">노화의 예외가 없지만 같은 나이라도 노화의 속도는 다를 수 있다. 왜그럴까? 이 책에 그 답이 실려 있다.</p>
						<div class="summary-content-section__avatar">
							<img class="summary-content-section__avatar-image" src="img/avatar.png" />
							<span class="summary-content-section__avatar-name">정신건강전문의, 문요한</span>
						</div>
					</section>
				</div>
				<section class="summary-about">
					<img class="summary-about__cover" src="img/book_immune.png" />
					<p class="summary-about__name">면역</p>
				</section>

				<nav class="summary-nav">
					<ul class="summary-nav-list">
						<li class="summary-nav-item">
							<a href="#" class="circle-button circle-button--to-info">
								<img class="summary-nav-link__icon" src="img/icon_info.png" />
							</a>
						</li>
						<li class="summary-nav-item">
							<a href="#" class="circle-button circle-button--back summary-nav-item__show-button"> </a>
						</li>
					</ul>
				</nav>
			</li>
		</ul>
	</main>
	<section class="recommendation-modal recommendation-modal--violet">
		<a href="#" class="close-button recommendation-modal__close-button"></a>
		<main class="recommendation-modal__container">
			<svg class="recommendation-modal__icon" width="23" height="22" viewBox="0 0 23 22" xmlns="http://www.w3.org/2000/svg">
				<path
						d="M0.0121953 22H9.47776V11.738H5.15065C5.15065 8.08307 6.23242 5.90415 9.61298 4.63898V0C4.00126 0.843448 -0.258249 5.76358 0.0121953 11.8083V22ZM13.3992 22H22.8648V11.738H18.5377C18.5377 8.08307 19.6194 5.90415 23 4.63898V0C17.3207 0.843448 13.1288 5.90415 13.3992 11.8083V22Z"
				/>
			</svg>
			<h1 class="recommendation-modal__title">당신은 꿈을 위해 얼마나 노력하셨나요?</h1>
			<p class="recommendation-modal__content">
				저는 죽기살기로 3년만이라는 책을 읽고 저의 삶을 다시 되돌아 보는 시간을 가졌습니다. 저는 열심히 살지 않았고, 불평, 불만만 많은 사람이라는 것을 깨닫게 되었습니다. 이 책 속에 저자는 마흔이 넘은 나이에 대기업을 그만두고 한번도
				해보지 않은 벤츠 판매를 시작하는데 누구보다 열정적으로 일을 합니다.
			</p>
			<div class="book-item book-item--white recommendation-modal__book-item">
				<img class="book-item__thumbnail" src="img/book_old-woman.png" />
				<div class="book-item__content">
					<div class="book-item__text">
						<h3 class="book-item__title">살인 짜는 플롯 노파</h3>
						<p class="book-item__publisher">출판사 : 문예출판사</p>
						<p class="book-item__author">저자 : 에리히 프롬</p>
					</div>
				</div>
			</div>
			<a href="#" class="button recommendation-modal__edit-button">수정하기</a>
		</main>
	</section>

	<nav class="global-nav">
		<div class="global-nav__container">
			<nav class="global-nav__account-nav">
				<a href="#" class="button global-nav__account-nav-button">로그인</a>
			</nav>
			<ul class="global-nav-list">
				<li class="global-nav-item">
					<a href="#" class="global-nav-link">
						<img class="global-nav-link__icon" src="img/icon_user.svg" />
						<span class="global-nav-link__name">마이페이지</span>
					</a>
				</li>
				<li class="global-nav-item">
					<a href="#" class="global-nav-link">
						<img class="global-nav-link__icon" src="img/icon_book.svg" />
						<span class="global-nav-link__name">책추천</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</main>

</body>
</html>
