<!DOCTYPE html>
<html th:replace="~{layout/default :: layout( ~{::main})}">

<body class="device">
<main th:class="${loginMember == null} ? 'app app--dimmed' : 'app'">
    <header class="global-header" id="mainHeader">
<!--        <a href="#" class="icon-button icon-button&#45;&#45;on global-header__favorite-button">-->
<!--            <img class="icon-heart icon-heart&#45;&#45;on icon-button__icon icon-button__icon&#45;&#45;on" src="img/icon_heart&#45;&#45;on.png" />-->
<!--            <img class="icon-heart icon-heart&#45;&#45;off icon-button__icon icon-button__icon&#45;&#45;off" src="img/icon_heart&#45;&#45;off.png" />-->
<!--        </a>-->
        <button type="button" class="book-category-button global-header__page-title ">자기계발서</button>
        <ul class="book-category-list" role="menu">
            <li th:each="item : ${fullCategoryList}"
                th:class="'book-category-item' + (${item.getSubCid()} == ${selectedCategory.getSubCid()} ? ' on' : '')">
                <a th:href="@{'?subCid=' + ${item.getSubCid()}}"
                   class="book-category-option"
                   th:text="${item.getDepth1()}"></a>
            </li>
        </ul>
        <a href="#" class="icon-button global-header__show-menu-button">
            <span class="icon-hamburger icon-button__icon"></span>
        </a>
    </header>
    <main class="app-main" id="mainApp">
        <ul class="book-summaries"> <!--book-summaries--load-json-->
            <li th:each="item : ${recommendList}" class="book-summary"><!--book-summary--violet book-summary--active-->
                <div class="summary-content">
                    <section th:each="comment : ${item.recommendCommentList}" th:class="${'summary-content-section summary-content-section--' + comment.type}">
<!--                        <h1 class="summary-content-section__title">description</h1>-->
                        <th:block th:switch="${comment.type}">
                            <th:block th:case="'description'">
                                <h1 class="summary-content-section__title">introduction</h1>
                            </th:block>
                            <th:block th:case="'toc'">
                                <h1 class="summary-content-section__title">index</h1>
                            </th:block>
                            <th:block th:case="'mdRecommend'">
                                <h1 class="summary-content-section__title">편집자의 선택</h1>
                            </th:block>
                            <th:block th:case="'phrase'">
                                <svg class="summary-content-section__icon" width="23" height="22" viewBox="0 0 23 22" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.0121953 22H9.47776V11.738H5.15065C5.15065 8.08307 6.23242 5.90415 9.61298 4.63898V0C4.00126 0.843448 -0.258249 5.76358 0.0121953 11.8083V22ZM13.3992 22H22.8648V11.738H18.5377C18.5377 8.08307 19.6194 5.90415 23 4.63898V0C17.3207 0.843448 13.1288 5.90415 13.3992 11.8083V22Z"/>
                                </svg>
                            </th:block>
                            <th:block th:case="*"></th:block>
                        </th:block>
                        <p class="summary-content-section__content" th:classappend="${comment.type eq 'toc' ? 'toc' : ''}" th:utext="${comment.comment}">
                            특정 질환이 없는데도 아프지 않은 곳이 없고 매일 피곤하며 치매가 생긴 것 같다면 가속노화를 의심해야한다. 노화의 예외가 없지만 같은 나이라도 노화의 속도는 다를 수
                            있다. 왜그럴까? 이 책에 그 답이 실려 있다.노화의
                            예외가 없지만 같은 나이라도 노화의 속도는 다를 수 있다. 왜그럴까?
                        </p>
<!--                        <button id="detailBtn" class="detailBtn">더보기</button>-->
                        <input type="hidden" name="itemId" th:value="${item.itemId}">
                        <input type="hidden" name="categoryName" th:value="${item.categoryName}">
                    </section>
                </div>
                <section class="summary-about">
                    <a th:href="@{${item.link}}" target="_blank"><img class="summary-about__cover" th:src="${item.cover}"/></a>
                    <a th:href="@{${item.link}}" target="_blank" style="width: 100%">
                        <p class="summary-about__name" th:text="${item.title}"></p>
                        <p class="summary-about__name" th:text="${item.author}"></p>
                    </a>
                </section>

<!--                <nav class="summary-nav">-->
<!--                    <ul class="summary-nav-list">-->
<!--                        <li class="summary-nav-item">-->
<!--                            <a href="#" class="circle-button circle-button&#45;&#45;to-info">-->
<!--                                <img class="summary-nav-link__icon" src="img/icon_info.png"/>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="summary-nav-item">-->
<!--                            <a href="#" class="circle-button circle-button&#45;&#45;back summary-nav-item__show-button"> </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
            </li>
        </ul>
    </main>
    <nav class="global-nav">
        <div class="global-nav__container">
            <nav class="global-nav__account-nav">
                <th:block th:if="${session.loginMember eq null}">
                    <a href="/users/login" class="button global-nav__account-nav-button">로그인</a>
                </th:block>
                <th:block th:unless="${session.loginMember eq null}">
                    <a href="/users/logout" class="button global-nav__account-nav-button">로그아웃</a>
                </th:block>
            </nav>
            <ul class="global-nav-list">
                <li class="global-nav-item">
                    <a href="/recommend/introduce" class="global-nav-link">
                        <img class="global-nav-link__icon" src="img/mysoul.png"/>
                        <span class="global-nav-link__name">인사말</span>
                    </a>
                </li>
<!--                <li class="global-nav-item">-->
<!--                    <a href="#" class="global-nav-link">-->
<!--                        <img class="global-nav-link__icon" src="img/icon_user.svg"/>-->
<!--                        <span class="global-nav-link__name">마이페이지</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="global-nav-item">-->
<!--                    <a href="#" class="global-nav-link">-->
<!--                        <img class="global-nav-link__icon" src="img/icon_book.svg"/>-->
<!--                        <span class="global-nav-link__name">책추천</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </nav>

    <dialog th:if="${loginMember.id == 0}" id="popupInfo1" class="guide-dialog" open onclick="this.classList.toggle('none')">
        <a href="javascript:void(0)" class="close-button guide-dialog__close-button"></a>
        <img class="guide-dialog__icon" src="img/info.png" />
<!--        <h3 class="guide-dialog__title">안녕하세요!</h3>-->
        <p class="guide-dialog__content">로그인 하시면 내일부터 봤던 책정보는 보이지 않습니다.</p>
        <div class="guide-dialog__close-checkbox">
            <input type="checkbox" class="closeDay"> 오늘 하루 보지 않기
        </div>
    </dialog>
    <dialog th:if="${loginMember.id == 0}" id="popupInfo2" class="guide-dialog" open onclick="this.classList.toggle('none')">
        <a href="javascript:void(0)" class="close-button guide-dialog__close-button"></a>
        <img class="guide-dialog__icon" src="img/guide.png" />
        <p class="guide-dialog__content">상하좌우 슬라이드 해보세요.<br>좋은 책들을 추천해드립니다!</p>
        <div class="guide-dialog__close-checkbox">
            <input type="checkbox" class="closeForever"> 더이상 보지 않기
        </div>

    </dialog>
    <main class="app" id="detailApp" style="display: none">
        <section class="book-detail book-detail--violet">
            <a href="#" class="close-button book-detail__close-button"></a>
            <main class="book-detail__container">
                <img class="book-detail__thumbnail" src="img/book_grow-old-slowly.png" />
                <h1 class="book-detail__title">당신도 느리게 나이 들 수 있습니다.</h1>
                <p class="book-detail__author">김수정 지음</p>
                <p class="book-detail__content">
                    저는 죽기살기로 3년만이라는 책을 읽고 저의 삶을 다시 되돌아 보는 시간을 가졌습니다.
                    저는 열심히 살지 않았고, 불평, 불만만 많은 사람이라는 것을 깨닫게 되었습니다.
                    이 책 속에 저자는 마흔이 넘은 나이에 대기업을 그만두고 한번도 해보지 않은 벤츠판매를 시작하는데 누구보다 열정적으로 일을 합니다.
                    고객과 대화를 하며 고객의 모든 말들을 기억하기 위해 메모하고 엑셀에 저장해두고 다음 고객을 만났을때 지난번에 했던 대화들을 기억해둡니다.
                    이러한 저자의 노력들을 생각하면서 제 자신을 많이 반성하게 되는 계기를 가졌습니다.
                </p>
                <a href="#" class="button button--black book-detail__info-button">책정보로 이동 ></a>
            </main>
        </section>
    </main>
</main>
</body>
</html>
