@charset "UTF-8";






* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-stretch: extra-condensed;
    /* cursor: none; */
    -webkit-touch-callout : none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
html,
body {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
    background-position: center top;
	background-color: #00152e;
    background-image: url("../images/background/transparentTextures_3px-tile.png");
    font-size: 2.5vh;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	/* align-items: center; */
}

a {
    text-decoration: none !important;
}
svg, svg.icon {
    pointer-events: none;
}
div > img {
    pointer-events: none !important;
}




/* ==================== Basic Function Menu Components ==================== */

/* Preloader */
#flexSlider_preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #202020;
	opacity: 1.0;
	visibility: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
@keyframes preloaderRemoval {
	from {
		opacity: 1.0;
	} to {
		opacity: 0.05;
	}
}
#flexSlider_preloader > h2 {
	font-size: 10.0vmin;
	font-weight: 900;
	color: #cdcdcd;
	text-shadow: 1px 1px 1px 1px #ffffff63;
}
#flexSlider_preloader > h3 {
	font-size: 5.0vmin;
	font-weight: 500;
	color: #fafafa;
}

.flexSlider_preloader_effectContainer {
	/* position: absolute; */
	position: relative;
	width: 200px;
	height: 200px;
	/* top: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
	/* margin: auto; */
}
.flexSlider_preloader_effectItem {
	width: 100px;
	height: 100px;
	position: absolute;
}

.flexSlider_preloader_effectItem-1 {
	background-color: #FA5667;
	top: 0;
	left: 0;
	z-index: 1;
	animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}
.flexSlider_preloader_effectItem-2 {
	background-color: #7A45E5;
	top: 0;
	right: 0;
	animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}
.flexSlider_preloader_effectItem-3 {
	background-color: #1B91F7;
	bottom: 0;
	right: 0;
	z-index: 1;
	animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}
.flexSlider_preloader_effectItem-4 {
	background-color: #FAC24C;
	bottom: 0;
	left: 0;
	animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}
@keyframes item-1_move {
	0%, 100% {transform: translate(0, 0)} 
	25% {transform: translate(0, 100px)} 
	50% {transform: translate(100px, 100px)} 
	75% {transform: translate(100px, 0)} 
}
@keyframes item-2_move {
	0%, 100% {transform: translate(0, 0)} 
	25% {transform: translate(-100px, 0)} 
	50% {transform: translate(-100px, 100px)} 
	75% {transform: translate(0, 100px)} 
}
@keyframes item-3_move {
	0%, 100% {transform: translate(0, 0)} 
	25% {transform: translate(0, -100px)} 
	50% {transform: translate(-100px, -100px)} 
	75% {transform: translate(-100px, 0)} 
}
@keyframes item-4_move {
	0%, 100% {transform: translate(0, 0)} 
	25% {transform: translate(100px, 0)} 
	50% {transform: translate(100px, -100px)} 
	75% {transform: translate(0, -100px)} 
}
/* ~Preloader */




/* Navigator Button Definition */
.flexSlider_navigators_arrowStyle {
	position: fixed;
	width: 2.0rem;
	height: 2.0rem;
	color: #fefefecc;
	text-shadow: 1px 1px 1px 1px #30303063;
	font-size: 1.8rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index:8;
}
.flexSlider_navigators_arrowStyle > svg {
	width: 100%;
	text-shadow: 1px 1px 1px 1px #30303063;
}
.flexSlider_navigators_arrowStyle > i:active {
	animation: activatedArrow 1.0s;
}
#flexSlider_arrow-Upper {
	top: 0.5rem;
	left: calc(50% - 1.0rem);
}
#flexSlider_arrow-Lower {
	bottom: 0.5rem;
	left: calc(50% - 1.0rem);
}
#flexSlider_arrow-Left {
	top: calc(50% - 1.0rem);
	left: 0.5rem;
}
#flexSlider_arrow-Right {
	top: calc(50% - 1.0rem);
	right: 0.5rem;
}

@keyframes activatedArrow {
	0% {
		scale: 1.0;
		font-size: 1.8rem;
		transform: translateY(0);
	} 50% {		
		scale: 4.5;
		font-size: 3.0rem;
		transform: translateY(-2px);
	} 99% {
		scale: 1.0;
		font-size: 1.8rem;
		transform: translateY(0);
	}
}
/* ~Navigator Button Definition */



/* Contents Container Definition */
.flexSlider_eachCategory {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	margin: 0 !important;
	box-sizing: border-box;
	display: none;
	z-index: 1;
} /* Category Container */
.flexSlider_eachItem {
	position: absolute;
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0 !important;
	box-sizing: border-box;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center top;
	z-index: 2;
} /* Each Item Container */
.flexSlider_eachItem > div {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 3.0rem;
	box-sizing: border-box;	
	background-color: #00000063;
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	/* align-items: flex-start; */
	justify-content: center;
	align-items: center;
	
} /* blackfilter wrapper */
.flexSlider_eachItem > div > h2 {
	position: relative;
	width: calc(100% - 6.0rem);
	min-width: calc(100vmin - 6.0rem);
	margin-bottom: 1.0rem;
	font-size: 3.2rem;
	color: #fff;
	text-shadow: 1px 1px 2px 1px #acacac48;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.flexSlider_eachItem > div > p {
	position: relative;
	/* width: calc(100% - 6.0rem); */
	/* min-width: calc(100vmin - 6.0rem); */
	/* margin-bottom: 3.0rem; */
	width: 20%;
	min-width: 10.0rem;
	font-size: 1.2rem;
	color: #fcfcfc;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}


@keyframes focusOut-left {
	from {
		position: fixed;
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	} to {
		position: fixed;
		scale: 0.05;
		opacity: 0.05;
		top: 0;
		left: 100vw;
	}
}
@keyframes focusIn-left {
	from {
		position: fixed;
		scale: 0.05;
		opacity: 0.05;
		top: 0;
		left: -100vw;
	} to {
		position: fixed;
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	}
}

@keyframes focusOut-right {
	from {
		position: fixed;
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	} to {
		position: fixed;
		scale: 0.05;
		opacity: 0.05;
		top: 0;
		left: -100vw;
	}
}
@keyframes focusIn-right {
	from {
		position: fixed;
		scale: 0.05;
		opacity: 0.05;
		top: 0;
		left: 100vw;
	} to {
		position: fixed;
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	}
}

@keyframes focusOut-down {
	from {
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	} to {
		scale: 0.05;
		opacity: 0.05;
		top: -100vh;
		left: 0;
	}
}
@keyframes focusIn-down {
	from {
		scale: 0.05;
		opacity: 0.05;
		top: 100vh;
		left: 0;
	} to {
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	}
}

@keyframes focusOut-up {
	from {
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	} to {
		scale: 0.05;
		opacity: 0.05;
		top: 100vh;
		left: 0;
	}
}
@keyframes focusIn-up {
	from {
		scale: 0.05;
		opacity: 0.05;
		top: -100vh;
		left: 0;
	} to {
		scale: 1.0;
		opacity: 1.0;
		top: 0;
		left: 0;
	}
}

/* ~Contents Container Definition */
body {
	background: #eee !important;
  }
  
  .wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
  }
  
  .form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
	margin-bottom: 30px;
  }
  
  .form-signin .checkbox {
	font-weight: normal;
  }
  
  .form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
  }
  
  .form-signin .form-control:focus {
	z-index: 2;
  }
  
  .form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  header {
	height: 30px;
	line-height: 30px;
	position: relative;
  }
  
  header a {
	position: absolute;
	top: 10px;
	right: 10px;
  }
  
  .slide li {
	position: relative;
	line-height: 400px;
	text-align: center;
  }
  
  .slide li .heart {
	position: absolute;
	top: 20%;
	right: 30%;
  }
  
  .content {
	display: none;
	overflow: scroll;
	width: 100%;
	height: 190px;
  }
  
  .content .bookBox {
	float: left;
  }
  .slide-section {
	position: relative;
  }
  .slide-section .category {
	position: absolute;
	top: 100px;
	left: 6rem;
	z-index: 99999;
  }
  /*# sourceMappingURL=style.css.map */
